@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");
#citsa-hero {
  min-height: 600px;
  /*background: #fff url(../images/loader.gif) no-repeat center center;*/
}

#citsa-hero .btn {
  font-size: 24px;
}
#citsa-hero .btn.btn-primary {
  padding: 12px 30px !important;
}
#citsa-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#citsa-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#citsa-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
} 
/*#citsa-hero .flexslider .slides li{position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .9;
  -webkit-backface-visibility: hidden;
  background: rgba(0,0,0,0.4);*/
#citsa-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#citsa-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#citsa-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#citsa-hero .flexslider .flex-direction-nav {
  display: none;
}
#citsa-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
  z-index: 9;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner h1, #citsa-hero .flexslider .slider-text > .slider-text-inner h2 {
  margin: 0;
  padding: 0;
  color: #3f95ea;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner h1 {
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  text-shadow:-6px 3px 2px #fff;
  text-transform: uppercase;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner p {
  font-size: 20px;
  text-transform: uppercase;

}
@media screen and (max-width: 768px) {
  #citsa-hero .flexslider .slider-text > .slider-text-inner h1 {
    font-size: 30px;
  }
}
#citsa-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner .heading-section {
  font-size: 50px;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner .btn {
  /*padding: 12px 30px;*/
  color: #fff;
  border: none !important;
  font-size: 16px;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
  background: #3f95ea !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner .form-inline .form-group .form-control {
  width: 100%;
  background: #fff;
  border: none;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner .citsa-lead {
  font-size: 20px;
  color: #fff;
}
#citsa-hero .flexslider .slider-text > .slider-text-inner .citsa-lead .icon-heart {
  color: #d9534f;
}



.pt100 {
  padding-top: 100px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.icon_box_two {
  position: relative;
  padding: 0;
  margin: 25px 0;
}
.icon_box_two i {
  position: absolute;
  left: 0;
  font-size: 56px;
  width: 50px;
  color: #3f95ea;
  top: 0;
  bottom: auto;
  line-height: 1;
}
.icon_box_two .content {
  margin-left: 60px;
  float: left;
}
.icon_box_two .content .box_title {
  margin-bottom: 3px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 6px;
}
.icon_box_two .content p {
  font-weight: 500;
  font-size: 14px;
    margin: 0 0 15px;
    line-height: 24px;
    color: #838383;
}

 #countdown {
  text-align: center;
}
.countdown h2{
  margin: 0 0 30px 0;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.countdown h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #3f95ea;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
.countergradient{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .9;
  -webkit-backface-visibility: hidden;
  background: rgb(0,0,0,0.2);
}

#countdown div {
  margin: 20px;
  display: inline-block;
  padding: 25px;
  min-width: 120px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  border-radius: 50%;
  /*opacity: 0.7;*/
  color: #fff;
  background: #3f95ea;
  box-shadow: inset 0 0 40px rgba(0,0,0,.3), 0 20px 50px rgba(0,0,0,.5);
}
#countdown div:first-child{
  background: #fff;
  color: #3f95ea;
}

#countdown span{
  display: block;
  font-size: 20px !important;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .countdown h2:after {
    display: none !important;
  }
  .countdown h2 {
    font-size: 30px;
  }
}



.bg-img {
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.bg-img .overlay_dark {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.brand_item {
  opacity: 0.3;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.brand_item img {
  display: block;
  max-width: 130px;
  margin: 0 auto;
}
.brand_item:hover {
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.icon_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.icon_list li {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 50px;
  min-height: 50px;
  margin-bottom: 7px;
}
.icon_list li i {
  background-color: #3f95ea;
  display: block;
  border-radius: 50px;
  padding: 7px 0;
  font-size: 24px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  left: 0;
}
.icon_list li span {
  color: #333333;
  padding-top: 6px;
  display: inline-block;
}

blockquote {
  padding: 75px 25px 25px;
  font-size: 20px;
  text-align: center;
  margin: 25px 50px;
}
blockquote:before {
  content: open-quote;
  display: block;
  font-size: 134px;
  font-family: Georgia, Verdana, Roboto, serif;
  line-height: 0.2;
  padding: 0;
  opacity: 0.2;
  font-weight: 600;
  margin: 0;
}
blockquote p {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  font-style: italic;
}

.text-muted {
  color: #868e96 !important;
  font-size: 14px;
  line-height: 2.1;
}

strong {
  font-weight: 700;
}

.text-xs {
  font-size: 11px;
}

.text-xl {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

img {
  max-width: 100%;
}

@media (max-width: 768px) {
  h1, .h1 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  h2, .h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  h3, .h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  h4, .h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  h5, .h5 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  h6, .h6 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .hide-md {
    display: none !important;
  }
}
/* ----------------Responsive Align ------------------- */
@media all and (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }

  .text-left-xs {
    text-align: left;
  }

  .text-right-xs {
    text-align: right;
  }
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 999999;
}
.loader .loader-inner {
  position: absolute;
  border: 2px solid #3f95ea;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

@-webkit-keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes loader-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* ----------------colors------------------- */
.color-gray {
  color: #f0f2f6 !important;
}

.color-dark-gray {
  color: #838383 !important;
}

.color-dark {
  color: #333333 !important;
}

.color-black {
  color: #18181c !important;
}

.color-light {
  color: #ffffff !important;
}

.color-green {
  color: #6cc47f !important;
}

.color-blue {
  color: #0652fd !important;
}

.color-red {
  color: #f97794 !important;
}

.color-orange {
  color: #f79257 !important;
}

.color-yellow {
  color: #ffbf00 !important;
}

.color-purple {
  color: #926cc4 !important;
}

.bg-grad-purple {
  background: #8C66CA;
  background: linear-gradient(135deg, #E25574 0%, #8C66CA 100%);
}

.bg-macaroni {
  background: -webkit-gradient(linear, left top, right top, from(#ff5f6d), to(#ffc371));
  background: linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
}


/*  ----------------------------------------------------
4 buttons
-------------------------------------------------------- */
.btn {
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  /* padding: 12px 40px; */
  border-radius: 0;
  outline: 0 !important;
  border: none;
  cursor: pointer;
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  color: #18181c;
  background-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn:focus {
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-sm {
  padding: 10px 20px;
}

.btn-lg {
  padding: 18px 50px;
}

.btn_center {
  margin: 0 auto;
  display: block;
}

.btn.btn-shadow {
  -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
}
.btn.btn-shadow:hover {
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.btn-rounded {
  border-radius: 50px;
}
.btn-round {
  /* margin-top: 30px; */
  border-radius:30px !important;
}

.btn-primary {
  background-color: #3f95ea;
  border: solid 1px #3f95ea;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-primary:hover {
  background-color: #18181c;
  color: #ffffff;
  border: solid 1px #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-primary-outline {
  background-color: transparent;
  border: solid 1px #3f95ea;
  color: #3f95ea;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-primary-outline:hover {
  background-color: #3f95ea;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-light {
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-light:hover {
  color: #ffffff;
  border: solid 1px #18181c;
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-dark {
  background-color: #333333;
  border: solid 1px #18181c;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-dark:hover {
  color: #18181c;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/*  ----------------------------------------------------
Cover
-------------------------------------------------------- */
.home-cover {
  position: relative;
}

.cover_slider {
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  position: relative;
  list-style: none;
  word-break: break-all;
}
.cover_slider .slider-content-center {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.cover_slider .slider-content-left {
  max-width: 800px;
  text-align: left;
}
.cover_slider .cover_item {
  width: 100%;
  position: relative;
  height: 100vh;
  min-height: 600px;
  padding: 150px 0;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.cover_slider .cover_item .slider_content {
  display: table;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  color: #ffffff;
}
.cover_slider .cover_item .slider_content .slider-content-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover_slider .cover_item .slider_content .slider-content-inner .cover-title {
  margin-top: 25px;
  margin-bottom: 0;
  opacity: 0;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.4s 600ms ease-in-out;
  transition: all 0.4s 600ms ease-in-out;
}
.cover_slider .cover_item .slider_content .slider-content-inner .cover-xl-text {
  opacity: 0;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 900;
  line-height: 1.1;
  color: #3f95ea;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.4s 600ms ease-in-out;
  transition: all 0.4s 600ms ease-in-out;
}
.cover_slider .cover_item .slider_content .slider-content-inner .cover-date {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 25px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.4s 900ms ease-in-out;
  transition: all 0.4s 900ms ease-in-out;
}
.cover_slider .cover_item .slider_content .slider-content-inner a {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: transform  0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out;
  -webkit-transition: opacity 0.4s 1200ms ease-in-out, -webkit-transform  0.4s 1200ms ease-in-out;
  transition: opacity 0.4s 1200ms ease-in-out, -webkit-transform  0.4s 1200ms ease-in-out;
  transition: transform  0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out;
  transition: transform  0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out, -webkit-transform  0.4s 1200ms ease-in-out;
}
.cover_slider .active .slider_content .slider-content-inner * .cover-title {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.4s 300ms ease-in-out;
  transition: all 0.4s 300ms ease-in-out;
}
.cover_slider .active .slider_content .slider-content-inner * .cover-xl-text {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.4s 600ms ease-in-out;
  transition: all 0.4s 600ms ease-in-out;
}
.cover_slider .active .slider_content .slider-content-inner * .cover-date {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.4s 900ms ease-in-out;
  transition: all 0.4s 900ms ease-in-out;
}
.cover_slider .active .slider_content .slider-content-inner * a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out, color 0.4s ease-in-out, border 0.4s  ease-in-out, background-color 0.4s  ease-in-out;
  -webkit-transition: all 0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out, color 0.4s  ease-in-out, border 0.4s  ease-in-out, background-color 0.4s  ease-in-out;
  transition: all 0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out, color 0.4s  ease-in-out, border 0.4s  ease-in-out, background-color 0.4s  ease-in-out;
}
.cover_slider .owl-dots {
  bottom: 25px;
  text-align: center;
  position: absolute;
  width: 100%;
}
.cover_slider .owl-dots .owl-dot span {
  width: 15px;
  height: 2px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.cover_slider .owl-dots .owl-dot.active span {
  background: #ffffff;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cover_nav {
  position: relative;
  bottom: 0;
  z-index: 999;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  top: -40px;
}
.cover_nav .cover_dots {
  padding: 15px 90px;
  margin: 0 auto;
  text-align: center;
  float: none;
  width: auto;
  display: inline-block;
  list-style: none;
  position: relative;
  background-color: #ffffff;
  top: -14px;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
}
.cover_nav .cover_dots li {
  display: inline-block;
  border: solid 2px transparent;
  border-radius: 14px;
  margin: 0;
  width: 30px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  font-weight: 500;
  color: #000000;
}
.cover_nav .cover_dots li.active {
  border: solid 2px #3f95ea;
}
.cover_nav .cover_dots:before {
  content: " ";
  display: block;
  z-index: 99999;
  position: absolute;
  left: -30px;
  bottom: 0;
  top: 21px;
  border-top-left-radius: 0;
  width: 0;
  height: 0;
  border-bottom: 40px solid white;
  border-left: 40px solid transparent;
}
.cover_nav .cover_dots:after {
  content: " ";
  display: block;
  z-index: 99999;
  position: absolute;
  right: -30px;
  bottom: 0;
  top: 21px;
  border-top-left-radius: 0;
  width: 0;
  height: 0;
  border-bottom: 40px solid #ffffff;
  border-right: 40px solid transparent;
}

.inner_cover {
  min-height: 400px;
  position: relative;
  background-position: center center;
  background-size: cover;
}
.inner_cover .overlay_dark {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(31, 31, 32, 0.6);
}
.inner_cover .inner_cover_content {
  padding: 170px 0;
}
.inner_cover .inner_cover_content h3 {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
}

.breadcrumbs {
  position: absolute;
  bottom: -1px;
  margin: 0;
}
.breadcrumbs ul {
  padding: 5px 90px;
  margin: 0 auto;
  text-align: center;
  float: none;
  bottom: 0;
  min-height: 50px;
  position: relative;
  width: auto;
  display: inline-block;
  list-style: none;
  background-color: #ffffff;
  color: #18181c;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
}
.breadcrumbs ul:before {
  content: " ";
  display: block;
  position: absolute;
  left: -30px;
  bottom: 0;
  top: 21px;
  border-top-left-radius: 0;
  width: 0;
  height: 0;
  border-bottom: 40px solid #ffffff;
  border-left: 40px solid transparent;
}
.breadcrumbs ul:after {
  display: block;
  position: absolute;
  right: -30px;
  bottom: 0;
  top: 21px;
  border-top-left-radius: 0;
  width: 0;
  height: 0;
  border-bottom: 40px solid #ffffff;
  border-right: 40px solid transparent;
  content: " ";
}
.breadcrumbs ul li {
  display: inline-block;
}
.breadcrumbs ul li a {
  padding: 13px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  color: #18181c;
}
.breadcrumbs ul li span {
  padding: 13px;
  font-size: 12px;
  font-weight: 600;
  color: #3f95ea;
}

@media (max-width: 767px) {
  .cover_slider .cover_item .slider_content .slider-content-inner .cover-title {
    font-size: 18px;
  }
  .cover_slider .cover_item .slider_content .slider-content-inner .cover-xl-text {
    font-size: 46px;
  }
  .cover_slider .cover_item .slider_content .slider-content-inner .cover-date {
    font-size: 14px;
  }

  .breadcrumbs ul {
    padding: 5px 30px;
  }
}
/*  ----------------------------------------------------
5 icon boxes
-------------------------------------------------------- */
.icon-lg {
  font-size: 64px !important;
}

.icon-md {
  font-size: 32px !important;
}

.icon-sm {
  font-size: 16px !important;
}

.icon_box_one {
  background-color: #f0f2f6;
  padding: 0;
  margin: 25px 0;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one i {
  margin-top: -10px;
  padding: 0 15px;
  font-size: 72px;
  color: #3f95ea;
  vertical-align: middle;
  border-radius: 4px;
  display: block;
  margin-bottom: 15px;
  line-height: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one .content {
  margin-top: 0;
  padding: 10px 25px 25px;
}
.icon_box_one .content h4 {
  color: #18181c;
  margin-bottom: 15px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one .content a {
  color: #3f95ea;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one .content p {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover {
  -webkit-box-shadow: 0 10px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 32px rgba(0, 0, 0, 0.25);
  background-color: #3f95ea;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover i {
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover .content h4 {
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover .content p {
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon_box_one:hover .content a {
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.icon_box_two {
  position: relative;
  padding: 0;
  margin: 25px 0;
}
.icon_box_two i {
  position: absolute;
  left: 0;
  font-size: 46px;
  width: 50px;
  color: #3f95ea;
  top: 0;
  bottom: auto;
  line-height: 1;
}
.icon_box_two .content {
  margin-left: 60px;
  float: left;
}
.icon_box_two .content .box_title {
  margin-bottom: 3px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 6px;
}
.icon_box_two .content p {
  font-weight: 500;
  color: #838383;
}

/*  ----------------------------------------------------
6 speakers
-------------------------------------------------------- */
.speaker_box {
  position: relative;
  overflow: hidden;
}
.speaker_box .speaker_img {
  position: relative;
  overflow: hidden;
}
.speaker_box .speaker_img img {
  width: 100%;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box .speaker_img .info_box {
  position: absolute;
  bottom: 25px;
  background-color: #18181c;
  padding: 10px 30px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box .speaker_img .info_box .name {
  color: #3f95ea;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box .speaker_img .info_box .position {
  font-size: 12px;
  color: #ffffff;
  text-transform: capitalize;
}
.speaker_box .speaker_social {
  padding: 50px;
}
.speaker_box .speaker_social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.speaker_box .speaker_social ul li {
  display: inline-block;
  margin-left: 4px;
}
.speaker_box .speaker_social ul li a {
  border: solid 1px #3f95ea;
  display: block;
  border-radius: 50px;
  padding: 7px 0;
  font-size: 24px;
  color: #3f95ea;
  width: 40px;
  height: 40px;
  text-align: center;
}
.speaker_box .speaker_social ul li a:hover {
  color: #ffffff;
  background-color: #3f95ea;
}
.speaker_box:hover .speaker_img img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box:hover .speaker_img .info_box {
  background-color: #3f95ea;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box:hover .speaker_img .info_box .name {
  color: #ffffff;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.speaker_box:hover .speaker_img .info_box .position {
  color: #ffffff;
}

/*  ----------------------------------------------------
7 Price box
-------------------------------------------------------- */
.price_box {
  position: relative;
  padding: 75px 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f0f2f6;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.price_box .price_highlight {
  background-color: #3f95ea;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  color: #fff;
}
.price_box .price_header h4 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 600;
}
.price_box .price_header h6 {
  font-size: 14px;
  text-transform: capitalize;
  color: #838383;
  font-weight: 400;
}
.price_box .price_tag {
  padding: 15px 0;
  text-transform: capitalize;
  color: #18181c;
  font-size: 48px;
  font-weight: 700;
}
.price_box .price_tag sup {
  font-size: 24px;
  font-weight: 400;
  top: -15px;
  left: -7px;
  color: #838383;
}
.price_box .price_features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.price_box .price_features ul li {
  padding: 7px;
  font-size: 14px;
  font-weight: 400;
}
.price_box .price_footer {
  margin-top: 30px;
}
.price_box:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.price_box.active {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

/*  ----------------------------------------------------

/*  ----------------------------------------------------
7 Event box
-------------------------------------------------------- */
.event_box {
  margin: 70px 0;
}
.event_box .event_info {
  position: relative;
  margin: 30px 0;
}
.event_box .event_info .event_title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #18181c;
  position: relative;
  padding: 15px 0;
  line-height: 1.3;
}
.event_box .event_info .event_title:before {
  width: 30px;
  content: " ";
  position: absolute;
  border-top: solid 4px #3f95ea;
  left: 0;
  top: 0;
}
.event_box .event_info .speakers strong {
  font-size: 14px;
  font-weight: 700;
  color: #18181c;
}
.event_box .event_info .speakers span {
  font-size: 14px;
  font-weight: 400;
}
.event_box .event_info .event_date {
  color: #3f95ea;
  font-size: 12px;
  font-weight: 700;
}
.event_box .readmore_btn {
  margin-top: 25px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 28px;
  font-size: 12px;
  font-weight: 700;
  color: #3f95ea;
}
.event_box .readmore_btn:hover {
  color: #18181c;
}

/*  ----------------------------------------------------

7 counter
-------------------------------------------------------- */
.counter_box {
  text-align: left;
  margin: 25px 0;
  padding: 15px 5px;
}
.counter_box span, .counter_box .counter {
  font-size: 48px;
  display: inline-block;
  margin: 0;
  color: #3f95ea;
  font-weight: 600;
}
.counter_box h5 {
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  font-size: 14px;
  color: #18181c;
  margin-top: 15px;
}

/*  ----------------------------------------------------
8 tabs
-------------------------------------------------------- */
.table.event_calender {
  position: relative;
  min-width: 1000px;
}
.table.event_calender thead.event_title {
  background-color: #3f95ea;
  color: #ffffff;
  border: 0;
}
.table.event_calender thead.event_title th {
  vertical-align: bottom;
  border: 0;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}
.table.event_calender thead.event_title th i {
  font-size: 32px;
  float: left;
  line-height: 1;
}
.table.event_calender thead.event_title th span {
  margin-left: 10px;
  padding: 3px 0;
  display: inline-block;
}
.table.event_calender tbody {
  background-color: #f0f2f6;
}
.table.event_calender tbody td, .table.event_calender tbody th {
  padding: 30px 25px;
  border: 0;
  vertical-align: middle;
  text-align: center;
}
.table.event_calender tbody td img, .table.event_calender tbody th img {
  border-radius: 4px;
  display: block;
  max-width: 100px;
}
.table.event_calender tbody td.event_date {
  font-weight: 600;
  font-size: 30px;
  color: #000;
}
.table.event_calender tbody td.event_date span {
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.event_place .h5 {
  font-size: 18px !important;
  margin-bottom: 5px !important;
  font-weight: 700 !important;
  color: #18181c !important;
  line-height: 1.3 !important;
}
.event_place .h6 {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 0 !important;
    font-weight: 700 !important;
    color: #18181c !important;
    line-height: 1.3 !important;
}
.event_place p{
  font-size: 14px;
    margin: 0 0 15px;
    line-height: 24px;
    font-weight: 400;
    color: #838383;
}
.table.event_calender tbody td.buy_link a {
  text-transform: capitalize;
  font-weight: 600;
  color: #3f95ea;
  text-decoration: underline;
  line-height: 24px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.table.event_calender tbody td.buy_link a:hover {
  color: #18181c;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

/*  ----------------------------------------------------
9 testimonial
-------------------------------------------------------- */
.testimonial_carousel {
  border: solid 2px #3f95ea;
  padding: 25px;
  position: relative;
  margin: 15px 0;
}
.testimonial_carousel p {
  font-style: italic;
}
.testimonial_carousel .testimonial_author {
  display: inline-block;
  position: relative;
  padding: 15px 60px;
}
.testimonial_carousel .testimonial_author img {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}
.testimonial_carousel .testimonial_author h5 {
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #333333;
  padding-top: 10px;
}
.testimonial_carousel .testimonial_author p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}
.testimonial_carousel .testimonial_author p span {
  color: #3f95ea;
}
.testimonial_carousel:before {
  content: "\f347";
  font-family: "Ionicons";
  position: absolute;
  color: #18181c;
  top: -10px;
  background-color: #ffffff;
  padding: 0 35px;
  font-size: 18px;
  left: 15px;
  line-height: 0.8;
}

.testimonial_carousel .slick-dots {
  position: absolute;
  bottom: 50px;
  right: 15px;
  left: auto;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.testimonial_carousel .slick-dots li {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 10px;
  margin: 0 1px;
  padding: 0;
  cursor: pointer;
}
.testimonial_carousel .slick-dots li button {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #856404;
  border-radius: 50%;
  margin: 0 1px;
  opacity: 0.5;
  padding: 0;
  cursor: pointer;
}
.testimonial_carousel .slick-dots li button:before {
  content: "";
  opacity: 0;
}
.testimonial_carousel .slick-dots li.slick-active button {
  opacity: 1;
}

/*  ----------------------------------------------------
10 blog
-------------------------------------------------------- */
.blog_card {
  margin: 0 0 70px 0;
  position: relative;
}
.blog_card img {
  border-radius: 4px;
}
.blog_card .blog_box_data {
  padding: 25px 0;
}
.blog_card .blog_box_data .blog_date {
  background-color: #3f95ea;
  padding: 15px 30px;
  border-radius: 2px;
  margin-bottom: 15px;
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}
.blog_card .blog_box_data .blog_meta a {
  padding: 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #838383;
}
.blog_card .blog_box_data .blog_meta a:hover {
  color: #3f95ea;
}
.blog_card .blog_box_data .blog_word {
  word-break: break-all;
}
.blog_card .blog_box_data .readmore_btn {
  font-size: 12px;
  font-weight: 600;
  color: #3f95ea;
  text-decoration: underline;
}
.blog_card .blog_box_data .readmore_btn:hover {
  color: #18181c;
}

.nav_menu {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  float: none;
  width: auto;
  display: inline-block;
  list-style: none;
  position: relative;
  background-color: #ffffff;
  top: -14px;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
}
.nav_menu li {
  display: inline-block;
  border: solid 2px transparent;
  border-radius: 14px;
  margin: 0;
  height: 40px;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  font-weight: 600;
  color: #000000;
}
.nav_menu li a {
  border-radius: 50px;
  padding: 12px 8px;
  font-weight: 600;
  border: solid 2px transparent;
}
.nav_menu li a:hover {
  border: solid 2px #3f95ea;
}
.nav_menu li span {
  border-radius: 50px;
  padding: 12px 8px;
  border: solid 2px #3f95ea;
}

.widget {
  margin-bottom: 50px;
}
.widget .widget-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #18181c;
  text-transform: capitalize;
}
.widget ul {
  padding: 0;
  padding-left: 15px;
  list-style: none;
  margin: 0;
}

.widget_recent_posts {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
}
.widget_recent_posts img {
  float: left;
  width: 100px;
}
.widget_recent_posts .content {
  margin-left: 115px;
}
.widget_recent_posts .content a {
  color: #18181c;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}
.widget_recent_posts .content a:hover {
  color: #3f95ea;
}
.widget_recent_posts .content p {
  font-size: 12px;
}

.widget_search {
  position: relative;
  width: 100%;
}
.widget_search input {
  border: 0;
  border-bottom: solid 3px #333333;
  padding: 12px;
  width: 100%;
  outline: 0;
  font-size: 12px;
  font-style: italic;
}

.widget_categories {
  position: relative;
  width: 100%;
}
.widget_categories ul li a {
  padding: 6px 0;
  display: block;
  width: 100%;
  color: #838383;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}
.widget_categories ul li a:hover {
  color: #3f95ea;
}

.widget_instagram {
  position: relative;
  width: 100%;
}
.widget_instagram ul li {
  display: inline-block;
  width: 32%;
  padding: 1%;
  margin: 2px 0;
}
.widget_instagram ul li img {
  width: 100%;
}

.widget_tags {
  position: relative;
  width: 100%;
}
.widget_tags ul li {
  display: inline-block;
  margin: 7px 2px;
}
.widget_tags ul li a {
  display: block;
  padding: 10px 12px;
  background-color: #f0f2f6;
  color: #838383;
  border: solid 1px #f0f2f6;
  font-size: 12px;
  font-weight: 500;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.widget_tags ul li a:hover {
  background-color: #ffffff;
  border: solid 1px #3f95ea;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

/*  ----------------------------------------------------
11 contact box
-------------------------------------------------------- */
.contact_box {
  padding: 35px;
  background-color: #ffffff;
  border-radius: 4px;
}
.contact_box label {
  color: #000;
  font-size: 13px;
  text-transform: capitalize;
}

.social_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social_list li {
  display: inline-block;
  margin: 5px;
}
.social_list li a {
  border: solid 1px #3f95ea;
  display: block;
  border-radius: 50px;
  padding: 7px 0;
  font-size: 24px;
  color: #3f95ea;
  width: 40px;
  height: 40px;
  text-align: center;
}
.social_list li a:hover {
  background-color: #3f95ea;
  color: #ffffff;
}

.map {
  width: 100%;
  min-height: 400px;
}

.form-control {
  font-size: 12px;
  padding: 12px 15px;
  height: 50px;
  border-radius: 1px;
  background-color: #e2e6f1;
  border: solid 1px #e2e6f1;
  margin-bottom: 25px;
  outline: 0 !important;
  font-style: italic;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.form-control:focus {
  background-color: #ffffff;
  border-color: #3f95ea;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

textarea.form-control {
  min-height: 200px;
  resize: vertical;
}

/*  ----------------------------------------------------
12 progressbar
-------------------------------------------------------- */
.single_progressbar {
  position: relative;
  margin-top: 30px;
}
.single_progressbar .progress_text {
  margin-bottom: 5px;
  color: #333333;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
}
.single_progressbar .progress_text span.progress_bar {
  color: #333333;
}
.single_progressbar .progress_text .progress_num {
  position: absolute;
  left: 90%;
}
.single_progressbar .progress {
  margin-bottom: 5px;
  overflow: hidden;
  background: #3f95ea;
  /* The Fallback */
  background: rgba(245, 1, 54, 0.2);
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}
.single_progressbar .progress .progress-bar {
  height: 4px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background-color: #3f95ea;
}

.accordion_card {
  border: solid 1px #3f95ea;
  border-radius: 0;
  margin: 15px 0;
}
.accordion_card .card-header {
  color: #ffffff;
  border-bottom: 0;
  border-radius: 0 !important;
  padding: 0;
}
.accordion_card .card-header h5 {
  margin: 0;
}
.accordion_card .card-header h5 a {
  background-color: #ffffff;
  color: #3f95ea;
  display: block;
  padding: 15px;
  border-bottom: solid 1px #3f95ea;
}
.accordion_card .card-header h5 a.collapsed {
  background-color: #3f95ea;
  color: #ffffff;
  border-bottom: solid 0 #3f95ea;
}
.accordion_card .card-body {
  font-size: 16px;
}


p:last-child {
    margin-bottom: 0;
}



/* boards */

.box{
	position: relative;
	width: 100%;
	height: 400px;
	background: #fff;
	border-radius: 15px;
	overflow: hidden;
	border:none;
	margin: 30px 0;
}
.box .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 2;
	background: #000;
}
.box:hover{
	box-shadow: 0 5px 20px rgba(0,0,0,.3);
	cursor: pointer;
}

.box:hover .imgBx{
	transform: translateY(-100px);
}
.box .imgBx img{
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.box:hover .imgBx img{
	opacity: 0.5;
}

.social-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
	display: flex;
	margin:0;
	padding:0;
}
.social-icon li{
	list-style: none;
}

.social-icon li a{
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #3f95ea;
	color: #fff;
	margin:0 5px;
	border-radius: 50%;
	transition: 0.5s;
	transform: translateY(200px);
	opacity: 0;
	text-decoration: none;
}
.box:hover .social-icon li a{
	transform: translateY(0px);
	opacity: 1;
}
.box .social-icon li a .fa{
	transition: 0.5s;
	font-size: 24px;
	line-height: 50px;
	text-decoration: none;
}
.box .social-icon li a:hover .fa{
	transform: rotateY(360deg);
}
.box:hover .social-icon li:nth-child(1) a{
	transition-delay: 0s;
}
.box:hover .social-icon li:nth-child(2) a{
	transition-delay: 0.2s;
}
.box:hover .social-icon li:nth-child(3) a{
	transition-delay: 0.4s;
}
.box:hover .social-icon li:nth-child(4) a{
	transition-delay: 0.6s;
}
.box:hover .social-icon li:nth-child(5) a{
	transition-delay: 0.8s;
}
.box:hover .social-icon li:nth-child(6) a{
	transition-delay: 0.10s;
}
.box:hover .social-icon li:nth-child(7) a{
	transition-delay: 0.12s;
}

.details{
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 4;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	border:none;
	padding: 10px;
	z-index: 1;
}

.details h2{
	margin: 10px 0 0;
	padding: 0;
	text-align: center;
	font-size:20px;
	font-weight: 700;
}

.details h2 span{
	color: #666;
	font-size: 16px;
}




.hero-area .breaking-news-area .ticker {
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
  background-color: #f3f5f8; }
  @media only screen and (max-width: 767px) {
    .hero-area .breaking-news-area .ticker {
      padding: 0 5px; } }
  .hero-area .breaking-news-area .ticker ul {
    width: 100%;
    position: relative;
    z-index: 1; }
    .hero-area .breaking-news-area .ticker ul li {
      display: none;
      width: 100%; }
      .hero-area .breaking-news-area .ticker ul li a {
        display: block;
        font-size: 14px;
        color: #152535;
        height: 38px;
        line-height: 38px; }
        .hero-area .breaking-news-area .ticker ul li a:hover, .hero-area .breaking-news-area .ticker ul li a:focus {
          color: #3f95ea; }
        @media only screen and (max-width: 767px) {
          .hero-area .breaking-news-area .ticker ul li a {
            font-size: 12px; } }


