    body{
    margin:0 ;
    padding: 0;
}
section{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.home{
    position: absolute;
    top:40px;
    z-index: 333;
}
.home li a{
    font-size: 25px !important;
}


.box{
    position: absolute;
    top: calc(50%);
    transform: translate(0,-50%);
    width: calc(100% - 30px);
    padding: 40px 20px;
    margin:0 15px; 
    box-sizing:  border-box;
    transition: .5s;
    border:2px solid #ccc; 
}
.box .inputBox{
    position: relative;
}
.box h1 {
    margin: 5px 0 30px;
    font-size: 25px;
    padding: 0;
    color: #3f95ea;
    text-align: center
}
.box h2 {
    margin: 5px 0 20px;
    padding: 0;
    color: #3f95ea;
    font-size: 30px;
    text-align: center
}
.box .inputBox input{
    width: 100%;
    height: 30px;
    padding :10px 0;
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
}
.box .stat {
    margin-bottom: 30px;
    font-size: 14px;
}
.box .quest{
    font-size: 14px;
}
.box .inputBox  label {
    position: absolute;
    top: -5px;
    left: 0;
    padding: 10px 15px;
    font-size: 18px;
    color: #3f95ea;
    font-weight: 100;
    pointer-events:  none;
    transition:  .9s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -30px;
    left: 0;
    color: #3f95ea;
    font-size: 14px;
}

.box .inputBox input:valid{
    border-color: #3f95ea;
}
.box .inputBox input:valid ~ label{
    color: blue;
    font-size: 
}



/* LARGE SCREENS */
@media(min-width:700px){
section{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: bgColor 20s linear infinite;
}
.home{
    position: absolute;
    top:calc(50% - 25px);
    z-index: 333;
}
.home p a i{
    font-size: 20px;
}
.bgPulse{
    width: 100%;
    height: 100%;
}
.bgPulse span{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:#3f95ea;
    background: url(../images/logo.png);
    background-position: center;
    background-size: cover;
}

.bgPulse span:nth-child(1){
    top:50%;
    left: 20%;
    animation: animate 10s linear infinite;
}
.bgPulse span:nth-child(2){
    top:80%;
    left: 40%;
    animation: animate 12s linear infinite;
}
.bgPulse span:nth-child(3){
    top:10%;
    left: 65%;
    animation: animate 15s linear infinite;
}
.bgPulse span:nth-child(4){
    top:50%;
    left: 70%;
    animation: animate 6s linear infinite;
}
.bgPulse span:nth-child(5){
    top:10%;
    left: 30%;
    animation: animate 9s linear infinite;
}
.bgPulse span:nth-child(6){
    top:90%;
    left: 95%;
    animation: animate 8s linear infinite;
}
.bgPulse span:nth-child(7){
    top:80%;
    left: 5%;
    animation: animate 5s linear infinite;
}
.bgPulse span:nth-child(8){
    top:35%;
    left: 50%;
    animation: animate 14s linear infinite;
}
.bgPulse span:nth-child(9){
    top:5%;
    left: 5%;
    animation: animate 11s linear infinite;
}.bgPulse span:nth-child(10){
    top:25%;
    left: 90%;
    animation: animate 10s linear infinite;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    box-sizing:  border-box;
    transition: .5s;
     border:2px solid #ccc; 
}
.box:hover{
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border:2px solid #ccc; 
}
.box .inputBox{
    position: relative;
}
.box h1 {
    margin: 5px 0 30px;
    font-size: 35px;
    padding: 0;
    color: #3f95ea;
    text-align: center
}
.box .quest, .box .stat{
    font-size: 16px;
}
.box h2 {
    margin: 5px 0 20px;
    padding: 0;
    color: #3f95ea;
    font-size: 30px;
    text-align: center
}
.box .inputBox input{
    width: 100%;
    height: 30px;
    padding :10px 0;
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
}
.box .inputBox  label {
    position: absolute;
    top: -5px;
    left: 0;
    padding: 10px 15px;
    font-size: 18px;
    color: #3f95ea;
    font-weight: 400;
    pointer-events:  none;
    transition:  .9s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    font-size: 16px;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-100px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes bgColor{
    0%{
        background:#fff;
    }
    25%{
        background:#fff;
    }
    50%{
        background:#fff;
    }
    75%{
        background:#fff;
    }
    100%{
        background:#fff;
    }
}

}