@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
body {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
  font-family : 'Montserrat', sans-serif;
}

.citsa-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}
a {
  color: #3f95ea;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #3f95ea;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  /*font-family: "Source Sans Pro", Arial, sans-serif;*/
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}
.edge--both:before, .edge--both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}
.edge--both:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 0;
}
header.topnav{
  position: absolute;
  top: 0;
  left:0;
  padding:0 40px;
  background: #3f95ea;
  width:100%;
  box-sizing: border-box;
  z-index: 66;
}

/*header.topnav .logo_name p{
  color: #fff;
  font-size: 18px;
  float: left;
  font-weight: 400;
  vertical-align: middle;
  text-transform: uppercase;
}*/
header.topnav .navbar-header{
  font-size: 18px;
  float: left;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff !important;
  height: 50px;
  line-height: 50px;
}

header.topnav nav{
  float: right;
}
header.topnav nav ul{
  margin:0;
  padding: 0;
}
header.topnav nav ul li{
  height: 50px;
  line-height: 50px;
  padding:0 20px;
  color:#fff;
  display: block;
}
.account{
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.account > i{
  margin-left: 8px;
}
.account:hover .account_selection{
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.account_selection{
  display: block;
  position: absolute;
  right: 0;
  top: 120%;
  margin: 0;
  width: 100%;
  background: #3f95ea;
  visibility: hidden;
  opacity: 0;
  font-size: 17px;
  z-index: 10000;
  box-shadow: 0 0 25px rgba(63, 78, 100, 0.9);
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: all 0.5s ease;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.account_selection li
{
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
}
.account_selection li a
{
  display: block;
  color: #fff;
  border-bottom: solid 1px #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.account_selection li a:hover
{
  color: #fff;
}
.account_selection li:last-child a
{
  border-bottom: none;
}
 #citsa-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 50px;
  background: rgba(0,0,0,0.3);
}
.navbar-fixed-top1{
  position: fixed;
  background: #fff;
  width: 100%;
  border:2 px solid;
  top: 0 important;
  z-index: 9999 !important;
  box-shadow:0 0 9px 0 rgba(0, 0, 0, 0.1) !important; 
}
@media screen and (max-width: 768px) {
  #citsa-header1,
  #citsa-header {
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #citsa-header1 .navbar-brand ,
   #citsa-header .navbar-brand {
    color: #3f95ea !important;
  }
  #citsa-header1 #navbar li a,
  #citsa-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #citsa-header1 #navbar li a:hover,
  #citsa-header #navbar li a:hover {
    color: #3f95ea !important;
  }
  #citsa-header1 #navbar li a span:before,
  #citsa-header #navbar li a span:before {
    background: transparent !important;
  }
  #citsa-header1 #navbar li.active a,
 #citsa-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #3f95ea !important;
  }

  #citsa-header1 #navbar li.active a span:before,
  #citsa-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#citsa-header1 .navbar
#citsa-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0 !important;
}
.navbar{
  margin-bottom:0
}

/* #citsa-header1 #navbar li a, */
 #citsa-header #navbar li a{
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  font-size: 19px;
  font-weight: 300;
}
.navbar-fixed-top1 #navbar li a {
  color: #777 !important;
}

#citsa-header1 #navbar li a span,
#citsa-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#citsa-header1 #navbar li a span:before,
#citsa-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-fixed-top1 #navbar li a:hover{
  color: #3f95ea;
} 
#citsa-header #navbar li a:hover {
  color: #fff;
}

#citsa-header1 #navbar li a:hover span:before ,
#citsa-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-fixed-top1 #navbar li.active a {
  background: transparent;
  background: none;
  color: #3f95ea;
}
#citsa-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#citsa-header1 #navbar li.active a span:before ,
#citsa-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#citsa-header1 .navbar-brand,
#citsa-header .navbar-brand {
  float: left;
  display: block;
  padding-left: 0;
  margin-top: -19px;
}
 #citsa-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
  z-index: 333;
}
#citsa-header.navbar-fixed-top .navbar-brand {
  /*color: #3f95ea;*/
}

#citsa-header.navbar-fixed-top #navbar li a span, 
#citsa-header.navbar-fixed-top #navbar li a {
  /*color: red !important;*/
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#citsa-header.navbar-fixed-top #navbar li a:hover {
  /*color: #3f95ea;*/
} 
#citsa-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #3f95ea;
} 
#citsa-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #02f1db;
}

#citsa-header1 .navbar-default,
#citsa-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #citsa-header1 .navbar-default
   #citsa-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#citsa-header1 .navbar-default .brand-slogan ,
#citsa-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#citsa-header1 .navbar-default .brand-slogan em ,
#citsa-header .navbar-default .brand-slogan em {
  color: #02f1db;
  font-style: normal;
}
#citsa-header1 a,
#citsa-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

#citsa-footer,
#citsa-home, 
#citsa-ticket, 
#citsa-library {
  background-color: transparent;
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#citsa-library .gradient, 
#citsa-ticket .gradient, 
#citsa-home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .9;
  -webkit-backface-visibility: hidden;
  background: rgba(0,0,0,0.4);
  }
  
  #citsa-footer .locate li{
    list-style: none;
    font-size: 18px;
    line-height: 28px;
  }
  #citsa-footer .locate li a{
    font-size: 18px;
    text-decoration: none;
   color: rgba(255, 255, 255, 0.7);
  }
   #citsa-footer .locate li i {
    font-size: 28px;
    margin-right: 5px;
    color: #fff;
   }
  #citsa-footer{
    padding-top: 100px ;
    padding-bottom: 40px ;
  background-color: #02f1db;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #02f1db));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #02f1db 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #02f1db 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #02f1db 100%);
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  }
  
  #citsa-footer p{
    font-size: 18px !important;
     color: rgba(255, 255, 255, 0.7);
     line-height: 30px;
  }
#citsa-home, 
#citsa-home .text-wrap {
  height: 100vh;
}
#citsa-library .text-wrap ,#citsa-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#citsa-home .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#citsa-home .text-inner a {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#citsa-home .text-inner a:hover, #citsa-home .text-inner a:active, #citsa-home .text-inner a:focus {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed white;
}
#citsa-home .text-inner h1 {
  /* text-align: left; */
  /* font-style: italic; */
  font-size: 40px;
  color: #fff;
  margin: 0 0 20px 0;
  font-weight: 700;
  text-transform: uppercase;
  /*text-shadow: -6px 7px 8px  #fff;*/
}
#citsa-home .text-inner h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.slant {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  bottom: 0;
  margin-bottom: -35px;
  padding: 0;
  width: 101%;
}
.slantOp {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  top: 0;
  margin-top: -35px;
  padding: 0;
  width: 101%;
}

#citsa-about {
  position: relative;
  bottom: 0;
  margin-top: -150px;
  z-index: 10;
  padding-bottom: 7em;
}
.citsa-about{
  margin-top: 150px !important;
}
@media screen and (max-width: 768px) {
  #citsa-about {
    padding-bottom: 3em;
  }
}

#citsa-about .citsa-block {
  width: 100%;
  text-align: center;
  font-size: 16px;
  min-height: 300px;
  vertical-align: middle;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  z-index: 7;
  flex-grow: 1;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {


}
#citsa-about .citsa-block > .overlay-darker {
  z-index: 8;
  opacity: .5;
  background: #474747;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#citsa-about .citsa-block > .overlay {
  background: #fff;
  opacity: 1;
  z-index: 9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#citsa-about .citsa-block > .citsa-text {
  position: relative;
  z-index: 10;
}
#citsa-about .citsa-block > .citsa-text .citsa-about-icon {
  font-size: 50px;
  color: #3f95ea;
  margin-bottom: 30px;
  display: block;
}
#citsa-about .citsa-block h2 {
  font-size: 24px;
  font-weight: 400;
  transition: .5s;
}
#citsa-about .citsa-block:hover > .overlay, 
#citsa-about .citsa-block:focus > .overlay {
  opacity: 0;
  z-index: 9;
}
#citsa-about .citsa-block:hover > .citsa-text, 
#citsa-about .citsa-block:focus > .citsa-text {
  color: #fff;
}
.citsa-about .citsa-block:hover > .citsa-text, 
.citsa-about .citsa-block:focus > .citsa-text{
  color: #3f95ea !important;
  cursor: pointer;
}
#citsa-about .citsa-block:hover > .citsa-text .citsa-about-icon, 
#citsa-about .citsa-block:focus > .citsa-text .citsa-about-icon {
  color: #fff;
}
#citsa-about .citsa-block:hover h2, 
#citsa-about .citsa-block:focus h2 {
  color: #fff;
}

.citsa-about .citsa-block h2 {
  font-weight: 700 !important;
  font-size: 30px !important; 
}
.citsa-about .citsa-block h2 i{
  color:#3f95ea !important;
}
.citsa-about .citsa-block:hover h2, 
.citsa-about .citsa-block:focus h2{
  color: #3f95ea !important;
}
#citsa-about .citsa-block:hover .btn, 
#citsa-about .citsa-block:focus .btn {
  border: 2px solid #fff !important;
  background: transparent;
}
#citsa-about .citsa-block:hover .btn:hover, 
#citsa-about .citsa-block:focus .btn:hover {
  background: #3f95ea !important;
  border: 2px solid #3f95ea !important;
}

#citsa-services,
#citsa-testimonials,
#citsa-counters, 
#citsa-work,
#citsa-album, 
#citsa-boards, 
#citsa-contact, 
#citsa-news, 
#citsa-about,
#citsa-ticket,
#citsa-library {
  padding: 4em 0;
}

.hidelinks, .short_name{
  display: none !important;
  visibility: none;
}
.long_name{
    display: block !important;
    visibility: visible;
  }
@media screen and (max-width: 900px) {
  .long_name{
    display: none !important;
    visibility: none;
  }
  .short_name{
    display: block !important;
    visibility: visible;
  }
}
  @media screen and (max-width: 768px) {
    .hidelinks{
display: block !important;
    visibility: visible;
    }
  #citsa-services,
   #citsa-testimonials, 
   #citsa-album, 
   #citsa-boards, 
   #citsa-contact, 
   #citsa-news, 
   #citsa-ticket, 
   #citsa-library {
    padding: 2em 0;
  }
}

#citsa-album, 
#citsa-boards,  
#citsa-ticket,
#citsa-library {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #citsa-album, 
  #citsa-ticket,
  #citsa-boards,
  #citsa-library {
    padding: 4em 0;
  }
}

#citsa-album, 
#citsa-services {
  background-color: #02f1db;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #02f1db));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #02f1db 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #02f1db 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #02f1db 100%);
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}
#citsa-album:before, 
#citsa-album:after,
#citsa-ticket:before, 
#citsa-ticket:after,
#citsa-boards:before, 
#citsa-boards:after, 
#citsa-work:before, 
#citsa-work:after, 
#citsa-library:before, 
#citsa-library:after{
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
}
#citsa-album:before,
#citsa-ticket:before,
#citsa-boards:before, 
#citsa-work:before, 
#citsa-library:before  {
  top: 0;
  margin-top: -35px;
}
#citsa-album:after,
#citsa-boards:after, 
#citsa-ticket:after, 
#citsa-work:after, 
#citsa-library:after  {
  bottom: 0;
  margin-bottom: -35px;
}

#citsa-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#citsa-testimonials .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#citsa-testimonials .box-testimony a:hover, 
#citsa-testimonials .box-testimony a:focus, 
#citsa-testimonials .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#citsa-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 30px;
  background: #fff;
  background: #02f1db;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
#citsa-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 10px solid black;
  border-top-color: #fff;
  border-top-color: #02f1db;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
#citsa-testimonials .box-testimony blockquote p {
  font-style: italic;
  color: #fff;
}
#citsa-testimonials .box-testimony .author {
  line-height: 20px;
  color: black;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 400;
}
#citsa-testimonials .box-testimony .author a {
  color: #02f1db;
}
#citsa-testimonials .box-testimony .author a:hover {
  text-decoration: underline;
}
#citsa-testimonials .box-testimony .author > figure {
  float: left;
  margin-right: 10px;
}
#citsa-testimonials .box-testimony .author > figure img {
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#citsa-testimonials .box-testimony .author p {
  float: left;
  margin-top: 10px;
}
#citsa-testimonials .box-testimony .author .subtext {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400 !important;
}

#citsa-boards,
#citsa-album,
#citsa-work {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #02f1db;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #02f1db));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #02f1db 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #02f1db 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #02f1db 100%);
}
#citsa-album a,
#citsa-work a, 
#citsa-ticket a, 
#citsa-library a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
#citsa-album a:hover, 
#citsa-boards a:hover, 
#citsa-ticket a:hover, 
#citsa-work a:hover, 
#citsa-library a:hover {
  color: white;
}

#citsa-boards .section-heading h2,
#citsa-footer .section-heading-2 h2,
#citsa-work .section-heading h2, 
#citsa-album .section-heading h2, 
#citsa-ticket .section-heading h2, 
#citsa-library .section-heading h2 {
  color: #fff;
}
#citsa-boards .section-heading h2:after, 
#citsa-footer .section-heading-2 h2:after, 
#citsa-work .section-heading h2:after, 
#citsa-album .section-heading h2:after, 
#citsa-ticket .section-heading h2:after, 
#citsa-library .section-heading h2:after {
  background: rgba(255, 255, 255, 0.3);
}
#citsa-boards .section-heading h3, 
#citsa-work .section-heading h3, 
#citsa-album .section-heading h3, 
#citsa-ticket .section-heading h3, 
#citsa-library .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}
#citsa-album .btn-round,
#citsa-boards .btn-round{
  margin-top: 40px;
}
#citsa-boards .citsa-person {
  border: 2px solid #f2f2f2;
  padding: 80px 30px 30px 30px;
  float: left;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .citsa-person {
    margin-bottom: 3.5em;
  }
}
.citsa-person figure {
  position: absolute;
  margin-top: -75px;
  top: 0;
  left: 50%;
  margin-left: -75px;
  display: block;
  margin-bottom: 50px;
}
.citsa-person figure img {
  width: 150px;
  height: 150px;
  border: 2px solid #f2f2f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.citsa-person h3 {
  margin-bottom: 0px;
}
.citsa-person .citsa-position {
  color: #fff;
  display: block;
  margin-bottom: 20px;
}
.citsa-person .social a{
  text-decoration:none !important; 
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 400;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #3f95ea;
}

.btn {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
}

#citsa-contact {
  padding-bottom: 0;
}
#citsa-contact .citsa-contact-info {
  padding: 0;
  margin: 0 0 1.5em 0;
}
#citsa-contact .citsa-contact-info li {
  position: relative;
  padding: 0;
  margin: 0 0 1.5em 0;
  padding-left: 50px;
  list-style: none;
}
#citsa-contact .citsa-contact-info li i {
  position: absolute;
  top: .2em;
  left: 0;
}

.section-heading {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  clear: both;
}
.section-heading-2 {
   float: left;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  clear: both;
}
.section-heading-2 h2{
    margin: 0 0 20px 0;
  font-size: 25px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 10px;
  line-height: 1.5;
}
.section-heading h2 {
  margin: 0 0 30px 0;
  font-size: 40px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
.section-heading h2.left-border:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #02f1db;
  left: 0%;
  margin-left: 0px;
  bottom: 0;
}
.section-heading-2 h2:after ,
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #3f95ea;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-heading-2 {
    margin-top: 30px;
  }

  .section-heading h2 {
    font-size: 30px;
  }
}
.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.citsa-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.citsa-nav-toggle.active i::before, .citsa-nav-toggle.active i::after {
  background: #3f95ea;
}
.citsa-nav-toggle:hover, .citsa-nav-toggle:focus, .citsa-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.citsa-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #3f95ea;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #3f95ea;
  transition: all .2s ease-out;
}
.citsa-nav-toggle i::before, .citsa-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #3f95ea;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.citsa-nav-toggle i::before {
  top: -7px;
}

.citsa-nav-toggle i::after {
  bottom: -7px;
}

.citsa-nav-toggle:hover i::before {
  top: -10px;
}

.citsa-nav-toggle:hover i::after {
  bottom: -10px;
}

.citsa-nav-toggle.active i {
  background: transparent;
}

.citsa-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.citsa-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.citsa-nav-toggle {
  position: absolute;
  top: 2px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .citsa-nav-toggle {
    display: block;
  }
}

#footer {
  padding: 50px 0 0;
  color: #7f7f7f;
  position: relative;
}
#footer p, #footer p a{
  font-size: 20px !important;
}
#footer a {
  color: #3f95ea !important;
}
#footer a:hover{
  text-decoration: underline;
}
#footer .gotop {
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -40px;
  background: #fff;
  z-index: 8;
  width: 80px;
  height: 80px;
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#footer .gotop:hover, #footer .gotop:focus {
  top: -25px;
  text-decoration: none !important;
}
#footer .copyright {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.btn-primary {
  background: #3f95ea;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-white{
  color: #3f95ea;
  background: #fff !important;
  border: none !important;
  border: 2px solid transparent !important; 
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #3f95ea;
}
.btn:hover, .btn:active, .btn:focus {
  background: #3f95ea !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}
.btn.btn-white:hover, .btn.btn-white:active, .btn.btn-white:focus {
  box-shadow: none;
  background: #fff !important;
  color: #3f95ea;
}
.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #3f95ea;
  color: #fff;
}
.social li a.social-circle {
  background: #3f95ea;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #3f95ea;
  color: #fff;
}
.social.social-circle a {
  background: #3f95ea;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.citsa-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*# sourceMappingURL=style.css.map */




#content{
  position: fixed;
  top: 50px;
  right: 60px;
  background: #fff;
  height: 500px;
  width: 25%;
  display: none;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: inset 0 0 40px rgba(0,0,0,.2), 0 20px 50px rgba(0,0,0,.5);
  z-index:11112;
}
#content1{
  background: #fff;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  z-index:2;
}
#content .header, #content1 .header{
  width: 100%;
  height: 80px;
  background: #3f95ea;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
#content1 .header{
  height: 10%;
  border-radius: 0 !important;
}
#content .header p, #content1 .header p{
    font-family: "Playfair Display", serif !important;
    font-weight: 700;
    font-style: italic;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  color: #fff;
  font-size: 25px;
  text-align: center;
  line-height: 80px;
}
#content1 .header p{
  font-size: 30px;
  /*height: 10%;*/
  /*line-height: 10% !important;*/
}
#content .message, #content1 .message{
  height: 320px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
}
#content1 .message{
  height: 70%;
}

#content1 .message::-webkit-scrollbar,
#content .message::-webkit-scrollbar{
  width: 10px;
}
#content1 .message::-webkit-scrollbar-thumb,
#content .message::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #3f95ea;
}

#content .message .reciept, 
#content1 .message .reciept{
  width: 70%;
  float: left;
  display:block;
  box-sizing: border-box;
  overflow: hidden;
}

#content1 .message .reciept p,
#content .message .reciept p{
  margin:10px 10px 5px 10px;
  text-align: left;
  color: #fff;
  display: inline-block;
  background: #3f95ea;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 15px;
  border-top-left-radius: 0;
  box-sizing: border-box;
}

#content1 .message .reciept span,
#content .message .reciept span{
  font-size: 12px;
  font-weight: bold;
}
#content1 .message .sender,
#content .message .sender{
  width: 70%;
  float: right;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
}
#content .message .sender p,
#content1 .message .sender p{
  display: inline-block;
  text-align: right;
  background:#02f1db;
  float: right;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 18px;
  border-top-right-radius: 0;
  box-sizing: border-box;
  margin:10px 10px 5px 10px;
  /*word-break: b*/
}

#content1 .message .sender span,
#content .message .sender span{
  font-size: 12px;
  font-weight: bold;
}

#content1 .comment-input form,
#content .comment-input form{
  padding: 20px;
  display:flex;
}
#content1 .comment-input form{
  height:20%;
}
#content .comment-input form .input{
  width: 80%;
}
#content1 .comment-input form .input{
  width: 85%;
}

#content1 .comment-input form textarea,
#content .comment-input form textarea{
  width: 100%;
  height: 50px;
  resize: none;
  border:none;
  border-bottom: 2px solid #3f95ea;
  outline: none;
}

#content1 .comment-input form button,
#content .comment-input form button{
  margin-left:5px;
  width: 50px;
  height: 50px;
  background: transparent;
  line-height: 50px;
  outline: none;
  border:none;
}
#content1 .comment-input form button i,
#content .comment-input form button i{
  color: #3f95ea;
  text-align: center;
  font-size: 24px;
}

#Msg i{
  position: fixed;
  bottom:30px;
  right: 40px;
  height: 55px;
  width: 55px;
  line-height: 55px;
  font-size: 25px;
  text-align: center;
  background: #3f95ea;
  color: #fff;
  border-radius:50%;
  z-index: 111113;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: all 0.5s ease;
}
#Msg i:hover{
  cursor: pointer;
  transform: scale(1.2);
}






/* Main */
section#albums{
  position: relative;
}
section#albums .title::after{
  position: relative;
  margin-top: 20px;
}
#main {
  padding: 2em;
  position: relative;
}

#main .inner {
  max-width: 100%;
}

/* Image */

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 4px;
  display: block;
}

.image.left, .image.right {
  max-width: 40%;
}

.image.left img, .image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
  height: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}



/* Columns */
.columns {
  position: relative;
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}

.columns .image {
  position: relative;
  display: inline-block;
  margin: 0 0 .5em;
  width: 100%;
  overflow: hidden;
}

.columns .image img {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3D(0, 0, 0);
}

.columns .image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 999px) {
  .columns {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }

}
@media screen and (max-width: 736px) {

  .columns {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
  .imgBox{
    margin:0;
    padding:0;
    height:300px !important;
  }
}

@media screen and (max-width: 480px) {

  .columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

}


.view a{
  color: #fff;
  text-decoration: none;
}
.view-more{
  margin-top: 20px;
  background: #3f95ea;
  padding: 15px 20px;
  border:0;
  outline: 0;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.5s;
}

.view-more:hover{
  box-shadow: 0 0 0 5px rgba(245,76,80,.5);
}


.imgBox{
  height: 400px;
  text-align: center;
  margin:50px auto 20px;
  transition: 0.5s; 
  /*0242043375*/
}
.imgBox img{
  height: 100%;
  border: 5px solid #fff;
  box-shadow:0 5px 25px #3f95ea,0 5px 25px rgba(0,0,0,.5); 
}
.thumb-container{
  position: relative;
  width: 100%;
  height:200px;
  overflow: hidden;
  overflow-x: scroll; 
}
.thumb-container::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.thumb-container::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #3f95ea;
}
ul.thumb{
  position: absolute;
  margin:0 auto;
  padding:10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul.thumb li{
  list-style: none;
  margin:10px;
  height: 150px;
}
ul.thumb li img{
  height: 100%;
  border: 4px solid #fff;
  box-shadow:0 5px 25px rgba(0,0,0,.5);   
}


.InButn{
  display: flex;
}
.twitter-typeahead{
  width: 100%;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #FFF;
    border-radius: 4px;
    padding: 8px 12px;
    width: 100% !important;
    background: transparent;
    color: #FFF;
    border-radius: 30px 0 0 30px ;
    outline: none;
}
.typeahead {
  background: rgba(66, 52, 52, 0.5);
}
.typeahead:focus {
  border: 2px solid #3f95ea;
  border-radius: 30px 0 0 30px ;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #C2C0C0;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  padding: 8px 0;
  width: 100%;
  color: #666;
  }
.tt-suggestion {
  font-size: 24px;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}

.InButn .submit{
  cursor: pointer;
  background: #fff;
  color: #3f95ea;
  border-radius: 0  30px 30px 0;
  font-weight: 500px;
  transition: .3s;
  font-weight: 700;
  margin-left: -1px;
}
.InButn .submit i{
  font-weight: 700 !important;
  font-size: 20px;
}
.InButn .submit:hover{
  color: #fff;
}
.library-result{
  padding: 0;
  margin: 0;
}
.library-result ul{
  padding: 0;
  margin:0;
}
.library-result ul li{
  padding: 10px 30px;
  border-top: 2px solid #ccc;
  font-size: 20px;
}
.library-result ul li:last-child{
  border-bottom: 2px solid #ccc;
}

.library-result ul li span.filename{
  color: #3f95ea !important;
}


.alert-warning{
        position: absolute;
        width:100%;
        z-index: 2;
        background: rgba(236,11,16,0.50);
        font-size: 18px;
        color: #fff;
        border:1px solid transparent;
        border-radius: none !important;
        
    }
    .alert-success{
        position: absolute;
        width:100%;
        z-index: 2;
        background: rgba(40,167,69,0.60);
        font-size: 18px;
        color: #fff;
        border:1px solid transparent;
        border-radius: none !important;
    }

#home{
  position: absolute;
  top:calc(5% - 10px);
  left:0; 
  color: #fff;
  font-size: 20px;
  padding: 0 20px;
  text-align: center;
}
#home a{
  text-decoration: none;
  color: #fff;
  border:2px solid #fff;}




 .vote h1{
  font-size: 50px;
  text-align: center;
  color: #3f95ea;
}
.vote .content{
  position: relative;
  min-height: 360px;
  width: 100%;
  text-align: center;
  margin:10px;
  padding: -10px -20px;
  border:5px solid #3f95ea;
  border-radius: 15px;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.vote .content:hover{
  transform: scale(1.02);
  box-shadow: 0 1px 15px rgba(0,0,0,.5);
}
.vote .content .img_container{
  padding-top: 15px;
  height:220px;
  width:100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 15px;
  overflow: hidden;
}
.vote .content .img_container img{
  transform: translateY(-80px);
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.vote .content .details  p{
  font-size: 20px;
  color: #777;
  text-align: center;
  text-transform: uppercase;
}
.vote .content input[type="radio"]{
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-appearance:none;
  background:#c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  transition:  .5s;
  margin:0 20px;
}
.vote .content input:checked[type="radio"]{
  background: #03a9f4;
}

.vote .content input[type="radio"]:before{
  content: 'Vote';
  line-height: 40px;
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  color: #3f95ea;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 15px !important;
  font-style: italic;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: all 0.5s ease;
  border:1px solid #3f95ea;
}

.vote .content input:checked[type="radio"]:before{
  background:#3f95ea;
  color: #fff;
  font-style: normal;
  font-weight: 700;
}
.vote .vote input{
  background:#3f95ea;
}
.btn-vote{
  background: #3f95ea !important;
  color:#fff;
  border-radius: 30px;
}
@media screen and (max-width: 768px) {
  .container h1{
  font-size: 30px;
}
.vote  .content{
  height: 290px;
  border:3px solid #3f95ea;
  border-radius: 10px;
}

.vote .content .img_container{
  height:160px;
}
.vote .content .details  p{
  font-size: 16px;
  color: #777;
  text-align: center;
  text-transform: uppercase;
}


.btn-vote{
  padding: 10px 20px;
}
}


#citsa-header.navbar-fixed-top #navbar li a {
  color: #333;
}
 
#citsa-header.navbar-fixed-top #navbar li.active a span:before{
  background: #3f95ea !important;
}
 
#citsa-header.navbar-fixed-top #navbar li.active a {
  color: #3f95ea;
}




img{
  max-width: 100%;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;}
    .justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;

}

.btn-round{
  border-radius: 30px;
}
.btn-padding{
  padding: 8px 18px !important;
  margin-top: -2px !important;
}

.btn-round a{
  text-decoration: none;
}
.btn-readmore, .btn-date {
  font-size: 14px !important;
  font-weight: 600;
  text-transform: uppercase;
  color:#fff !important;
  padding: 10px 20px !important;
  margin-bottom: 10px !important; 
}
.btn-date {
  background: #111 !important;
  border: 1px solid #111;
  border-radius: 20px 0px !important;
  box-shadow: 0 5px 6px rgba(0,0,0,0.4);
}
.btn-readmore{
  margin:0 !important;
  background: #3f95ea !important;
}
.btn-readmore:hover{
  background: #555 !important;
}
.btn-date:hover{
  background: #111 !important;
  color: #fff !important;
}
.btn-shine{
  position: relative;
  transform:perspective(500px) /*rotateY(-15deg)*/;
  text-decoration: none !important;
  overflow: hidden;
  color: #fff !important;
}
.btn-shine:hover{
  text-shadow: -6px 3px 2px rgba(0,0,0,.2);
  transform: perspective(500px) rotateY(15deg);
  /*box-shadow:#fff !important;*/
}
.btn-shine:before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height:100%;
  background:linear-gradient(90deg,transparent, #fff, transparent) !important;
  transition: .5s;
}
.btn-shine:hover:before{
  left: 100%;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}


/* :: 6.0 Blog Post Area */
img {
    height: auto;
    max-width: 100%;
}
/* Section Heading */
.section-heading-1 {
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
  border-bottom: 1px solid #d0d5d8; 
}
  .section-heading-1 h6 {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 45px;
    height: 45px;
    min-width: 140px;
    padding: 0 30px;
    background-color: #3f95ea;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    text-align: center; }

.single-blog-post {
  position: relative;
  z-index: 1; 
}
.single-blog-post  a,
.single-blog-post  a:hover,
.single-blog-post  a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #1c1c1c;
  font-weight: 500;
  font-size: 14px;
  color: #828282; }
.single-blog-post .post-thumb a {
    display: block; 
}
.single-blog-post .post-thumb a img{
  width: 100%;
  max-height:450px;
}
.single-blog-post .post-data {
    padding: 30px 0; 
}
.single-blog-post .post-data .post-catagory {
  font-size: 14px;
  color: #3f95ea;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  display: block; 
}
.single-blog-post .post-data .post-title {
  display: block; 
}
.single-blog-post .post-data .post-title h6 {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  line-height: 1.9; 
}
.single-blog-post .post-data .post-title h6:hover, 
.single-blog-post .post-data .post-title h6:focus {
  color: #3f95ea; 
}
.single-blog-post .post-data .post-meta .content  {
  margin: 0;
  font-size: 16px !important;
}
.single-blog-post .post-data .post-meta .post-date a {
  display: block; 
}
.single-blog-post .post-data .post-meta .post-date a:hover, 
.single-blog-post .post-data .post-meta .post-date a:focus {
  color: #3f95ea; 
}
.single-blog-post .post-data .post-meta .post-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end; 
}
.single-blog-post .post-data .post-meta .post-like span {
  line-height: 1;
  margin-left: 15px; 
}
.single-blog-post .post-data .post-meta .post-like span:hover, .single-blog-post .post-data .post-meta .post-like span:focus {
    color: #3f95ea; 
}
    .single-blog-post .post-data .post-meta .post-comment {
      margin-left: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      -ms-grid-row-align: flex-end;
      align-items: flex-end; 
}
.single-blog-post .post-data .post-meta .post-comment span {
  line-height: 1;
  margin-left: 15px; 
}
.single-blog-post .post-data .post-meta .post-comment span:hover, 
.single-blog-post .post-data .post-meta .post-comment span:focus {
  color: #3f95ea; 
}
.single-blog-post.style-2 .post-data {
  padding: 15px 0; 
}
.single-blog-post.style-2 .post-data .post-title h6 {
  font-size: 14px; 
}
.single-blog-post.style-2 .post-data .post-meta .post-date a {
  font-size: 12px; 
}
.single-blog-post.style-3 {
  margin-bottom: 15px; 
}
.single-blog-post.style-3 .post-data {
  padding: 15px 0; 
}
.single-blog-post.style-3 .post-data .post-title h6 {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 30px; 
}
.single-blog-post.featured-post {
  position: relative;
  z-index: 1; 
}
.single-blog-post.featured-post .post-data {
  padding: 30px 0; 
}
.single-blog-post.featured-post .post-data .post-title h6 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 500; 
}
@media only screen and (max-width: 767px) {
  .single-blog-post.featured-post .post-data .post-title h6 {
    font-size: 24px; 
  } 
}
.single-blog-post.featured-post .post-data .post-author {
  margin-bottom: 10px;
  display: block;
  width: 100%; 
}
.single-blog-post.featured-post .post-data .post-author a {
  display: inline-block;
  color: #3f95ea; 
}
.single-blog-post.featured-post.single-post .post-data p{
  margin-bottom: 20px;
}
.single-blog-post.featured-post .post-data .post-excerp {
  font-weight: 500;
  margin-bottom: 40px;
  display: block;
  line-height: 2.1;    
  color: #828282;
  font-size: 14px;    
}
.single-blog-post.featured-post.single-post .post-data {
  padding: 30px 0; 
}

.single-blog-post.featured-post.single-post .post-data .related--post {
  display: block;
  font-size: 18px;
  color: #2c61db;
  margin: 40px 0; 
}
.single-blog-post.featured-post.single-post .post-data .related--post:hover, 
.single-blog-post.featured-post.single-post .post-data .related--post:focus {
color: #3f95ea; 
}
.single-blog-post.featured-post-2 {
  position: relative;
  z-index: 1;
  margin-bottom: 15px; 
}
.single-blog-post.featured-post-2 .post-data {
  padding: 15px 0; 
}
.single-blog-post.featured-post-2 .post-data .post-title h6 {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 20px;
  font-weight: 500; 
}
.single-blog-post.featured-post-2 .post-data .post-author {
  margin-bottom: 15px;
  display: block;
  width: 100%; 
}
.single-blog-post.featured-post-2 .post-data .post-author a {
  display: inline-block;
  color: #3f95ea; 
}
.single-blog-post.small-featured-post {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #d0d5d8 !important;
    padding: 20px 0 !important; 
}
.single-blog-post.small-featured-post .post-thumb {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
      flex: 0 0 90px;
      max-width: 90px;
      width: 90px;
      margin-right: 15px; 
}
.single-blog-post.small-featured-post .post-data {
      padding: 0; 
}
.single-blog-post.small-featured-post .post-data .post-catagory {
        margin-bottom: 10px;
        line-height: 1; 
}
.single-blog-post.small-featured-post .post-data .post-title h6 {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 10px;
        font-weight: 700; 
}
.single-blog-post.small-featured-post .post-data .post-date {
  margin-bottom: 0;
  line-height: 1;
    color: #828282;
    font-size: 14px;
    font-weight: 400;
}
.single-blog-post.small-featured-post:first-child {
      padding-top: 0; 
}
.single-blog-post.small-featured-post:last-child {
      padding-bottom: 0;
      border-bottom: none; 
}





.swiper-container {
  width: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 380px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  position:relative;
}
.swiper-slide:hover {
box-shadow: 0 5px 20px rgba(0,0,0,.3);
  cursor: pointer;
}

.swiper-slide .swipeImg{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  transition: 0.5s;
  z-index: 2;
  background: #000;
  overflow: hidden;
}
.swiper-slide .swipeImg img{
  width:100%;
  height: 100%;
}
.swiper-slide .details{
  background: #fff;
  height: 100px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px;
  text-align:center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.swiper-slide .details h3{
  margin:0;
  padding: 0;
  font-style: 20px;
  line-height: 20px;
  text-align: center;
}
.swiper-slide .details h3 span{
  font-size: 16px;
  color: #3f95ea;
}
